{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "navigator": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/destructuring-assignment": 0,
    "react/no-this-in-sfc": 0,
    "no-unused-vars": "off",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/state-in-constructor": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "default-case": 0
  }
}
